<!DOCTYPE html>
<html lang="fr">
<head>
	{{> partials/p-head}}
</head>
<body class="">
	<main class="container">
    <button class="js__launchDemoModal" type="button">Lancer la modale</button>
    <button class="js__launchDemoModal--morphing" type="button">Lancer la morphing modal</button>
	</main>
</body>
</html>